$active-ride-image-width: 300px;
$active-ride-image-height: 200px;

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid $beige;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.auticparkic {
  display: flex;
  background: url("/assets/images/background-gradient.png") no-repeat center
    center;
  background-size: cover;
  height: 100vh;
  width: 100vw;

  .active-rides {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    .active-ride {
      display: flex;
      flex-direction: column;
      // gap: 3rem;
      border: 1px solid $beige;
      text-align: center;
      height: 500px;
      box-shadow: 0px 0px 27px rgba($pinkish, 0.25);

      .active-ride-stopwatch {
        .stopwatch-time-components {
        }

        span {
          display: inline-block;
          width: 60px;
          overflow: hidden;
          text-align: center;
        }

        span.delimeter {
          background: transparent;
        }
      }

      .active-ride-controls {
        display: flex;
        margin-top: auto;

        button {
          flex: 1;
          border-radius: 6px;
          border-bottom: none;
          border-left: none;
          border-right: none;
        }

        div {
          width: 100%;
          display: flex;

          button {
            flex: 1/2;
          }

          button:first-child {
            border-right: 1px solid $beige;
          }

          button:last-child {
            border-left: 1px solid $beige;
          }
        }
      }

      .active-ride-info {
        .active-ride-controls {
          button {
            border: 1px solid $beige;
          }
        }
      }
    }

    .active-ride-image {
      img {
        width: $active-ride-image-width;
        height: $active-ride-image-height;
      }
    }

    .new-ride-btn {
      background-color: rgba(0, 0, 0, 0.2);
      border-style: dashed;
      border-width: 2px;
      width: $active-ride-image-width;
      // height: $active-ride-image-height;
      font-size: 60px;
      transition: all 0.1s linear;

      &:hover {
        box-shadow: 0px 0px 27px rgba($pinkish, 0.25);
      }
    }
  }
}

.multi-step-form {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100vw;
  min-height: 100vh;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    h1 {
      color: $beige;
      font-size: 60px;
    }

    .close-btn {
      background: transparent;
      border: none;
    }
  }

  .body {
    .back-btn {
      background: transparent;
    }

    .vehicle-select {
      display: flex;
      gap: 2rem;
      // padding: 2rem;
      border-radius: calc($base-border-radius / 4);

      .vehicle-select-image-container {
        position: relative;
        width: 300px;
        height: 200px;
        overflow: hidden;

        .selected-vehicle-checkmark {
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
          font-size: 2rem;
          display: none;
        }

        &.active {
          filter: brightness(50%);

          .selected-vehicle-checkmark {
            display: block;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        border-radius: calc($base-border-radius / 4);
        height: 200px;

        &:hover {
          filter: brightness(50%);
        }
      }
    }

    .vehicle-choice-preview {
      div {
        display: flex;
        align-items: center;
        justify-content: space-around;

        img {
          border-radius: 8px;
          width: 50vw;
        }

        .vehicle-choice-preview-info {
          display: flex;
          gap: 4rem;
          flex-direction: column;

          div {
            border: 1px solid $beige;
            border-radius: 8px;
            padding: 20px;
            margin: 20px;
            width: 400px; /* or desired width */
            box-shadow: 0 5px 15px rgba(255, 238, 204, 0.2),
              0 2px 6px rgba(255, 238, 204, 0.2);
            transition: transform 0.2s;

            &:hover {
              cursor: default;
              transform: scale(1.05);
              box-shadow: 0 8px 20px rgba(255, 238, 204, 0.3),
                0 3px 8px rgba(255, 238, 204, 0.3);
            }

            .price {
              font-weight: bold;
              color: $pinkish;
            }
          }
        }
      }
    }
  }
}
